<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>
    <section class="home"> 
        <div class="detail-links">
            <a class="page-links" href="/catalog/brand/<%=brand._id  %>/update">Update Brand</a>
            <a class="page-links" href="/catalog/brand/<%=brand._id  %>/delete">Delete Brand</a>
        </div>
        
    <div class="home-page">
        <p class="home-info title">Brand details</p>
        <p>Name: <%= brand.name %></p>
        <p>Origin: <%= brand.origin %></p>
    </div>
    

    <div class="home-page">
        <p class="home-info title">Shoes in this brand</p>
        <%if(shoes.length > 0){%>
            <%shoes.forEach(element => {%>
                <div class="shoe-list">
                    <p><%=element.title %></p>
                </div>
           <%})%>
           <%}else{%>
                <p>There are no shoes for this brand</p>
            <%}%>
    </div>
    </section>
    
</body>
</html>