<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section class="home">
        <a href="/catalog/seller/create" class="page-links">New Seller</a>
        <%if(seller_list.length > 0){%>
        <%seller_list.forEach(element => {%>
            <div class="home-page">
                <a href="/catalog/seller/<%=element._id%>" class="page-links"> <%=element.name %> </a>
                <p> <%= element.established_formatted%> </p>
            </div>
       <%})%>
       <%}else{%>
            <p>There are no Sellers</p>
        <%}%>
    </section>
</body>
</html>