<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>
    <section class="home">
        <div class="home-page">
            <p class="home-info title"> <%=shoe.title %></p>
            <p class="home-info"><%=shoe.summary %></p>
        </div>
        
        <% if(shoe_instance.length > 0) { %>
            <div class="home-page">
                <p class="home-info title">Delete the following shoe instances before deleting this shoe.</p>
                <%shoe_instance.forEach(element => { %>
                    <a class="page-links" href="<%= element.url %>"><%= element.status %></a>
                    <p class="home-info"><%= element.restocking_formatted %></p>
                    <p class="home-info"><%= element.manufactured %></p>
                <% }) %>
            </div>
            
        <% }else { %>
            <div class="home-page">
                <p class="home-info">Are you sure you want to delete this shoe?</p>
                <form method="POST">
                    <input type="hidden" name="shoeid" value="<%=shoe._id %>">
                    <button type="submit">Delete</button>
                </form>
            </div>
            
        <% }; %>
    </section>
</body>
</html>