<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section class="home">
        <a href="/catalog/shoeinstance/create" class="page-links">New shoe instance</a>

        <% if(shoeinstance.length > 0) { %>
            <%shoeinstance.forEach(element => { %>
                <div class="home-page">
                    <a href="<%=element.url %>" class="page-links"><%=element.shoe.title %></a>
                    <p>Manufactured: <%=element.manufactured %></p>
                    <p>Status: <%=element.status %></p>
                    <p>Restocking: <%=element.restocking_formatted %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>There are no shoe instances</p>
        <% } %>
    </section>
</body>
</html>