<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=title  %></title>
</head>
<body>
    <%- include('./head.ejs')  %>
    <section class="home">
        <div class="detail-links">
            <a class="page-links" href="/allshoes/<%=shoe.id  %>/update">Update Shoe</a>
            <a class="page-links" href="/allshoes/<%=shoe.id  %>/delete">Delete Shoe</a>
        </div>
        <div class="home-page">
            <p class="home-info title">Shoe Information</p>
            <p><b>Shoe:</b>  <%= shoe.name %></p>
            <p><b>Price:</b>  <%= shoe.price %></p>
            <p><b>Stock:</b>  <%= shoe.stock %></p>
            <p><b>Type:</b>  <%= shoe.type_name %></p>
            <p><b>Brand:</b>  <%= shoe.brand_name %></p>
        </div>

        
    </section>
    
</body>
</html>