<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section class="home">
        <form method="POST">
            <label for="name">Name</label>
            <input name="name" type="text" id="name" placeholder="Shoe name" required value="<%=undefined === shoe ? "" : shoe.name %>"/>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" placeholder="Price" required value="<%=undefined === shoe ? "" : shoe.price %>"/>
            <label for="stock">Quantity</label>
            <input type="text" name="stock" id="stock" placeholder="Quantity" required value="<%=undefined === shoe ? "" : shoe.stock %>"/>
            <label for="brand">Brand</label>
            <select name="brand" id="brand">
                <option value="">Select a Brand</option>
                <%if(brands.length > 0){ %>
                    <% brands.forEach(element => {%>
                        <option value="<%=element.id %>"><%=element.name %></option>
                    <%})%>
                    <%} else{%>
                        <p>There are no Brands</p>
                    <%}%>
            </select>

            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="">Select a Type</option>
                <%if(types.length > 0){ %>
                    <% types.forEach(element => {%>
                        <option value="<%=element.id %>"><%=element.name %></option>
                    <%})%>
                    <%} else{%>
                        <p>There are no Types</p>
                    <%}%>
            </select>
            <button type="submit">Create Shoe</button>
        </form>
    </section>
</body>
</html>